@use 'vars' as *;
@use 'mixins' as *;

h1 {
  @include h1-style;
}

h2 {
  @include h2-style;
}

.subtitle {
  @include subtitle;
}

.section-title {
  @include section-title;
}

.container {
  @include flex(row, space-between, center);
  width: 100%;
  max-width: 1280px;
  margin-inline: auto;
  padding-inline: 20px;
}
