@use 'sass:list';
@use 'vars' as *;

// fonts
@mixin font-face($name, $path, $weight: 400) {
  @font-face {
    font-family: $name;
    src: url('../../fonts/#{$path}.woff2') format('woff2');
    font-weight: $weight;
    font-display: swap;
  }
  @content;
}
// ---------------------------------------

@mixin h-style(
  $color: $base-black,
  $size: $size-h1,
  $font: $f-main,
  $f-weight: $w-bold,
  $l-height: $l-height115,
  $l-spacing: $l-spacing02,
  $t-transform: capitalize
) {
  color: $color;
  font-size: $size;
  font-family: $font;
  font-weight: $f-weight;
  line-height: $l-height;
  letter-spacing: $l-spacing;
  text-transform: $t-transform;
  @media (max-width: 768px) {
    line-height: $l-height131;
  }
  @content;
}
// ---------------------------------------

@mixin h1-style {
  @include h-style;
}

// ---------------------------------------

@mixin h2-style {
  @include h-style($font: $f-main, $size: $size-h2, $l-height: $l-height135) {
    @media (max-width: 768px) {
      line-height: $l-height142;
    }
  }
  @content;
}

@mixin h4-style($color: $base-black) {
  @include h-style(
    $size: $size-h4,
    $l-height: $l-height133,
    $f-weight: $w-semiBold
  ) {
    @media (max-width: 768px) {
      line-height: $l-height120;
    }
  }
  color: $color;
  @content;
}

@mixin subtitle(
  $color: $base-black,
  $font: $f-main,
  $weight: $w-semiBold,
  $size: $size-text,
  $l-spacing: $l-spacing02,
  $t-transform: capitalize,

  $pseudo: after
) {
  @include flex($align: center, $gap: 20px);
  color: $color;
  font-family: $font;
  font-weight: $weight;
  font-size: $size;
  letter-spacing: $l-spacing;
  text-transform: $t-transform;

  &:#{$pseudo} {
    content: '';
    display: block;
    width: 80px;
    height: 2px;
    background: $base-black;
  }
  @content;
}
// ---------------------------------------

@mixin text-style(
  $color: $text-color,
  $font: $f-second,
  $weight: $w-semiBold,
  $size: $size-text,
  $l-spacing: $l-spacing02,
  $l-height: $l-height133
) {
  color: $color;
  font-family: $font;
  font-weight: $weight;
  font-size: $size;
  letter-spacing: $l-spacing;
  line-height: $l-height;
  @media (max-width: 768px) {
    line-height: $l-height129;
  }
  @content;
}
// ---------------------------------------

@mixin btn-font(
  $color: $base-black,
  $size: $size-text,
  $font: $f-second,
  $weight: $w-bold,
  $l-spacing: $l-spacing02
) {
  color: $color;
  font-size: $size;
  font-family: $font;
  font-weight: $weight;
  letter-spacing: $l-spacing;
  @content;
}
// ---------------------------------------

@mixin link(
  $color: $light-grey,
  $size: $burger-link,
  $font: $f-main,
  $f-weight: $w-semiBold,
  $l-spacing: $l-spacing02,
  $hover-color: $base-white
) {
  color: $color;
  font-size: $size;
  font-family: $font;
  font-weight: $f-weight;
  letter-spacing: $l-spacing;
  transition: color 0.3s;
  @if $hover-color {
    &:hover {
      color: $hover-color;
    }
  }

  @content;
}
// =======================================

// === position ===
@mixin flex($direction: row, $justify: null, $align: null, $gap: null) {
  display: flex;

  @if $direction != row {
    flex-direction: $direction;
  }
  @if $justify {
    justify-content: $justify;
  }
  @if $align {
    align-items: $align;
  }
  @if $gap {
    gap: $gap;
  }
  @content;
}
// ---------------------------------------

@mixin grid(
  $cols: null,
  $rows: null,
  $align: null,
  $justify: null,
  $gap: null
) {
  display: grid;

  @if $cols {
    grid-template-columns: $cols;
  }
  @if $rows {
    grid-template-rows: $rows;
  }
  @if $align {
    align-items: $align;
  }
  @if $justify {
    justify-items: $justify;
  }
  @if $gap {
    gap: $gap;
  }
  @content;
}

// ---------------------------------------

@mixin absolut($top: null, $bottom: null, $left: null, $right: null) {
  position: absolute;
  @if $top != null {
    top: $top;
  }
  @if $bottom != null {
    bottom: $bottom;
  }
  @if $left != null {
    left: $left;
  }
  @if $right != null {
    right: $right;
  }
  @content;
}
// =======================================

// === btns ===
// --- big - btn ---
@mixin btn(
  $display: inline-flex,
  $width: 185px,
  $height: 45px,
  $padding: 11px 25px,
  $bord: 1px solid $base-black,
  $bg: $base-white,
  $hover-bg: $base-black,
  $hover-color: $base-white,

  $icon-w: 12px,
  $icon-h: 12px,
  $gap: null
) {
  @include flex(row, center, center, 15px);
  @include btn-font;

  display: $display;
  width: $width;
  height: $height;
  padding: $padding;
  border: $bord;
  background: $bg;
  white-space: nowrap;
  transition: all 0.3s;
  svg {
    @include icon($color1: currentColor, $width: $icon-w, $height: $icon-h);
  }

  @if $gap {
    gap: $gap;
  }

  &:hover {
    color: $hover-color;
    background: $hover-bg;
  }
  @content;
}
// ---------------------------------------

// --- slider - btns ---
@mixin slider-btns(
  $width: 95px,
  $height: 36px,
  $bg: $banner-bg,
  $opacity: 0.2,
  $filter: blur(5px)
) {
  @include flex($justify: space-evenly, $align: center);
  width: $width;
  height: $height;
  background: rgba($bg, $opacity);
  backdrop-filter: $filter;
  @content;
}

// =======================================
// === section-title ===
@mixin section-title {
  width: 100%;

  @include flex(column, center, flex-start, clamp(20px, 2.75vw, 35px)) {
    @media (max-width: 1024px) {
      max-width: 85%;
    }
    @media (max-width: 768px) {
      max-width: 100%;
      gap: 15px;
    }
  }
  @content;
}
// =======================================

// === icon ===
@mixin icon($color1: null, $color2: null, $width: null, $height: null) {
  display: block;

  @if $color1 {
    --color-1: #{$color1};
  }

  @if $color2 {
    --color-2: #{$color2};
  }

  @if $color1 {
    --stroke-1: #{$color1};
  }

  @if $color2 {
    --stroke-2: #{$color2};
  }

  @if $width {
    width: $width;
  }
  @if $height {
    height: $height;
  }
  @content;
}
// =======================================
