// === fonts ===
$f-main: 'Raleway';
$f-second: 'Inconsolata';
// ------------------------------
// === font-size ===
$size-h1: clamp(32px, 5vw, 52px);
$size-h2: clamp(24px, 5vw, 40px);
$size-h3: clamp(24px, 5vw, 32px);
$size-text: clamp(14px, 5vw, 18px);
$burger-link: 20px;

// ------------------------------
// === font-weight ===
$w-bold: 700;
$w-semiBold: 600;
$w-medium: 500;
// ------------------------------
// === line-height ===
$l-height115: 115%;
$l-height131: 131%;
$l-height133: 133%;
$l-height135: 135%;
$l-height142: 142%;
$l-height129: 129%;
// ------------------------------
// === colors ===
$base-black: rgb(0, 0, 0);
$base-white: rgb(255, 255, 255);
$light-grey: rgba(255, 255, 255, 0.7);
$text-color: rgb(61, 61, 61);
$exit-color: #ff5100;
// ------------------------------
// === latter-spacing ===
$l-spacing02: 0.02em;
// ------------------------------
