@use 'vars' as *;
@use 'mixins' as *;

.slider {
  width: 100%;
  max-width: 750px;
  height: 500px;
  background: $text-color;
  position: relative;

  &__wrapper {
    width: 100%;
    height: 100%;
    overflow: hidden;
  }

  &__track {
    display: flex;
    height: 100%;
    touch-action: none;
    user-select: none;
    cursor: grab;
    transition: transform 0.5s ease;

    &:active {
      cursor: grabbing;
    }
  }

  &__slide {
    flex: 0 0 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    transition: opacity 0.3s ease;
  }

  &__btns {
    @include absolut($bottom: 0, $right: 0);
    @include slider-btns;
  }

  @media (max-width: 425px) {
    height: 270px;
  }
}
